* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 95%;
  /*min-width: 600px;*/
  margin: 10px auto;
  background-color: grey;
  padding: 5px;
}
.num-group-buttons {
  display: flex;
  text-align: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.button {
  /*width: 9%;*/
  margin: 2px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  flex: 1 auto;
  box-shadow: 3px 3px 1px 1px black;
}

.button.selected {
  position: relative;
  top: 2px;
  left: 2px;
  box-shadow: 1px 1px 1px 1px black;
}

.randomizer {
  text-align: center;
  padding: 10px;
  width: 25%;
  margin: 10px auto;
  border: 1px solid white;
}

.selected {
  background-color: #DDD;
}

.groups div {
  padding: 10px;
  border: 1px solid red;
}

.groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.group {
  margin: 5px;
  flex: 0 150px;
  text-align: center;
}


.group h1 {
  background-color: #AAA;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
}

.group li {
  text-align: left;
}
