@font-face {
  font-family: "Carnivalee Freakshow";
  src: url('Carnivalee_Freakshow/Carnevalee_Freakshow.ttf');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  opacity: 1;
}



body {
  background-image: url('bg-img.jpeg');
  font-family: "Carnivalee Freakshow";
  font-size: 20px;
}

.container {
  width: 95%;
  margin: 10px auto;
  padding: 5px;
}
.num-group-buttons {
  display: flex;
  text-align: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.button {
  margin: 2px;
  padding: 5px;
  flex: 1 auto;
}

.button.selected, .randomizer:active {
  position: relative;
  top: 2px;
  left: 2px;
  box-shadow: 1px 1px 1px 1px black;
}

.button, .randomizer {
  box-shadow: 3px 3px 1px 1px black;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.2);
    background-color: rgba(220,220,220,.9);
}

.randomizer {
  text-align: center;
  padding: 10px;
  width: 25%;
  margin: 10px auto;
}

.selected, .randomizer:active {
  background-color: rgba(255,255,255,.95);
}

.groups div {
  padding: 10px;
}

.groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.group {
  margin: 5px auto;
  flex: 0 150px;
  text-align: center;
  border-radius: 10px;
  border: 5px solid rgba(255,255,255,.5);
  background-color: rgba(200,200,200,.85);
}


.group h1 {
  background-color: #FFF;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
}

.group li {
  text-align: left;
  margin-left: 15px;
}

.group ul {
  margin: 10px 0 5px;
}

.group:first-child {
  position: relative;
  left: -9999px;
  top: -9999px;
}

.group:nth-child(2) {
  position: relative;
  left: -1999px;
  top: -1999px;
}

.group:nth-child(3) {
  position: relative;
  left: 0px;
  top: 9999px;
}

.group:nth-child(4) {
  position: relative;
  left: 9999px;
  top: 9999px;
}


.group:nth-child(5) {
  position: relative;
  left: -9999px;
  top: 0;
}

.group:nth-child(6) {
  position: relative;
  left: -9999px;
  top: 9999px;
}

.group:nth-child(7) {
  position: relative;
  left: -5555px;
  top: -5555px;
}

.group:nth-child(8) {
  position: relative;
  left: -400px;
  top: 5555px;
}

.group:nth-child(9) {
  position: relative;
  left: 400px;
  top: 5555px;
}

.group:nth-child(10) {
  position: relative;
  left: 9999px;
  top: -5000px;
}
